.carousel {
    width:640px;
    height:360px;
    margin: 100px auto 50px auto;

<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading1.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading2.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading3.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading4.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading5.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading6.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading7.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading8.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading9.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading10.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading11.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading12.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading13.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading14.png" alt="">
   </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading15.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading16.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading17.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading18.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading19.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading20.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading21.png" alt="">
    </div>
<div class=".carousel">
    <div class="d-flex justify-content-center">
        <img src="Loading22.png" alt="">
    </div> 
}
