.bean {
    position:absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}


#wait div {
    display:none;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    width: 100%;


}
#wait div:first-child {
    display:block;
}        
