.bean {
    width: 100%;
    margin: auto;
    height:400px;
    background-color: rgba(0,0,0,0.1);
}

.wait {
    text-align:center;
    margin: 0px auto;
    width: 600px;
    height: 400px;
}

.all { 
  margin: 0px auto; // center
  width:600px; 
  height:400px; 
  text-align:center; 
} 
